option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:ec2:instances:
    SupportedArchitectures: x86_64

container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
  02_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  03_superuser:
    command: >-
      python manage.py shell -c "
      import os;
      from django.contrib.auth.models import User;
      u = os.environ.get('DJANGO_SUPERUSER_USERNAME');
      e = os.environ.get('DJANGO_SUPERUSER_EMAIL');
      p = os.environ.get('DJANGO_SUPERUSER_PASSWORD');
      u and p and not User.objects.filter(username=u).exists() and User.objects.create_superuser(u, e or '', p)
      "
    leader_only: true